@font-face {
    font-family: "Circular";
    src: url("../../assets/fonts/Circular-Book.otf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Circular";
    src: url("../../assets/fonts/Circular-BookItalic.otf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Circular";
    src: url("../../assets/fonts/Circular-Medium.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circular";
    src: url("../../assets/fonts/Circular-MediumItalic.otf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Circular";
    src: url("../../assets/fonts/Circular-Black.otf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Circular";
    src: url("../../assets/fonts/Circular-BlackItalic.otf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Circular";
    src: url("../../assets/fonts/Circular-Bold.otf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Circular";
    src: url("../../assets/fonts/Circular-Light.otf") format("truetype");
    font-weight: 100;
    font-style: normal;
}
