@import 'fonts';
@import 'colors';
@import 'typography';

* {
    text-decoration: none;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Circular';
    background: var(--dark);
    color: var(--white);
    -webkit-tap-highlight-color: transparent;
}

@media only screen and (min-width: 800px) {
    *::-webkit-scrollbar,
    *::-webkit-scrollbar-thumb {
        width: 16px;
        background-clip: padding-box;
        border: 2px solid transparent;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, .3);
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(255, 255, 255, .5);
    }
}
