<!--<app-card></app-card>
<app-s-card></app-s-card>-->
<div class="main">
    <div class="section">
        <div class="title">
            <span class="display-large">Dobry wieczór</span>
            <span class="display-small more">See more</span>
        </div>
        <div class="cards">
            <app-s-card></app-s-card>
            <app-s-card></app-s-card>
            <app-s-card></app-s-card>
            <app-s-card></app-s-card>
            <app-s-card></app-s-card>
            <app-s-card></app-s-card>
        </div>
    </div>
</div>
