<div class="player-mobile" (click)="openFullScreen()" *ngIf="track$ | async as track">
    <div class="player">
        <div class="music-info">
            <img class="album-cover" src="{{track.cover}}" alt="Album cover">
            <div class="music-data">
                <span class="body-medium">{{track.title}}</span>
                <div class="artists-list" *ngFor="let artist of track.artists">
                    <span class="label-large artist">{{artist.name}}</span>
                </div>
            </div>
        </div>
        <div class="actions" (click)="$event.stopPropagation()">
            <app-favorite-button (clickedFavorite)="addToFavorite()" [isFavorite]="isFavorite" size="medium"></app-favorite-button>
            <a class="action-item" matTooltip="Pause" matTooltipShowDelay="300" (click)="doPause()">
                <mat-icon class="round-svg" svgIcon="{{isPause ? 'play' : 'pause'}}" [ngClass]="{'play': isPause}"></mat-icon>
            </a>
        </div>
    </div>
    <mat-progress-bar mode="determinate" value="40" class="music-mobile-progress"></mat-progress-bar>
</div>
