<div class="app">
    <div class="page">
        <app-navigation-rail></app-navigation-rail>
        <div class="content" (scroll)="onScroll($event)">
            <app-top-bar [scrollTop]="scrollTop"></app-top-bar>
            <app-top-bar-mobile></app-top-bar-mobile>
            <router-outlet></router-outlet>
        </div>
    </div>

    <div class="mobile-bar">
        <app-music-player-mobile></app-music-player-mobile>
        <app-navigation-bar></app-navigation-bar>
    </div>

    <app-music-player></app-music-player>
</div>
