.app {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

    .page {
        display: flex;
        height: 100%;

        .content {
            width: 100%;
            overflow-y: overlay;
        }
    }

    app-music-player-mobile,
    app-navigation-bar,
    app-top-bar-mobile {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .app {
        .page {
            display: flex;
            height: 100%;

            app-navigation-rail,
            app-top-bar {
                display: none;
            }

            app-top-bar-mobile {
                display: unset;
            }
        }

        app-music-player-mobile {
            display: block;
            position: absolute;
            width: 100%;
            bottom: 70px;
        }

        app-navigation-bar {
            display: block;
            position: absolute;
            width: 100%;
            bottom: 0px;
        }

        app-music-player {
            display: none;
        }
    }
}
