.app {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

    .page {
        display: flex;
        height: calc(100% - 90px);

        .content {
            width: 100%;
            overflow-y: overlay;
        }
    }

    app-music-player-mobile,
    app-navigation-bar,
    app-top-bar-mobile {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .app {
        .page {
            display: flex;
            height: 100%;

            app-navigation-rail,
            app-top-bar {
                display: none;
            }

            app-top-bar-mobile {
                display: unset;
            }
        }

        .mobile-bar {
            height: 126px;
            position: absolute;
            width: 100%;
            bottom: 0;
            background-image: linear-gradient(transparent, rgba(black, .95),var(--black));
        }

        app-music-player-mobile,
        app-navigation-bar {
            display: block;
        }

        app-music-player {
            display: none;
        }
    }
}
