<div class="navigation">
    <div class="menu">
        <img class="app-logo" src="assets/logos/spotify-logo-white.png" alt="Spotify logo">
        <div class="pages">
            <a routerLink="/main/home" routerLinkActive="active" class="menu-item" #home="routerLinkActive">
                <mat-icon svgIcon="{{home.isActive ? 'home-filled' : 'home'}}"></mat-icon>
                <span class="body-large">Home</span>
            </a>
            <a routerLink="/main/search" routerLinkActive="active" class="menu-item" #search="routerLinkActive">
                <mat-icon svgIcon="{{search.isActive ? 'search-filled' : 'search'}}"></mat-icon>
                <span class="body-large">Search</span>
            </a>
            <a routerLink="/main/library" routerLinkActive="active" class="menu-item" #library="routerLinkActive">
                <mat-icon svgIcon="{{library.isActive ? 'library-filled' : 'library'}}"></mat-icon>
                <span class="body-large">Your Library</span>
            </a>
        </div>
        <div class="actions">
            <a class="menu-item">
                <div class="square-icon">
                    <mat-icon svgIcon="add" class="square-svg"></mat-icon>
                </div>
                <span class="body-large">Create Playlist</span>
            </a>
            <a class="menu-item">
                <div class="square-icon liked-icon">
                    <mat-icon svgIcon="favorite-filled" class="square-svg"></mat-icon>
                </div>
                <span class="body-large">Liked Songs</span>
            </a>
        </div>
    </div>
    <hr>
    <div class="playlists">
        <a class="menu-item">
            <span class="body-medium">Feelin' Myself</span>
        </a>
        <a class="menu-item">
            <span class="body-medium">Feelin' Myself</span>
        </a>
        <a class="menu-item">
            <span class="body-medium">Feelin' Myself</span>
        </a>
        <a class="menu-item">
            <span class="body-medium">Feelin' Myself</span>
        </a>
        <a class="menu-item">
            <span class="body-medium">Feelin' Myself</span>
        </a>
        <a class="menu-item">
            <span class="body-medium">Feelin' Myself</span>
        </a>
        <a class="menu-item">
            <span class="body-medium">Feelin' Myself</span>
        </a>
        <a class="menu-item">
            <span class="body-medium">Feelin' Myself</span>
        </a>
        <a class="menu-item">
            <span class="body-medium">Feelin' Myself</span>
        </a>
        <a class="menu-item">
            <span class="body-medium">Feelin' Myself</span>
        </a>
        <a class="menu-item">
            <span class="body-medium">Feelin' Myself</span>
        </a>
        <a class="menu-item">
            <span class="body-medium">Feelin' Myself</span>
        </a>
        <a class="menu-item">
            <span class="body-medium">Feelin' Myself</span>
        </a>
        <a class="menu-item">
            <span class="body-medium">Feelin' Myself</span>
        </a>
        <a class="menu-item">
            <span class="body-medium">Feelin' Myself</span>
        </a>
        <a class="menu-item">
            <span class="body-medium">Feelin' Myself</span>
        </a>
        <a class="menu-item">
            <span class="body-medium">Feelin' Myself</span>
        </a>
        <a class="menu-item">
            <span class="body-medium">Feelin' Myself</span>
        </a>
        <a class="menu-item">
            <span class="body-medium">Feelin' Myself</span>
        </a>
        <a class="menu-item">
            <span class="body-medium">Feelin' Myself</span>
        </a>
    </div>
</div>
